/*
  Специально для светлой темы при наличии класса.
  Здесь окажутся стили, которые нужно переопределить принудительно,
  переключая тему
*/

:root.theme-light {
  --background-image: url(../images/cover-image-light.png);
  --main-color: #FF8DCB;
  --title-color: #FFC2E6;
  --link-color: #353430;
  --decoration-color: #353430;
  --background-color: #FFF1F7;
  .header__decoration-dark {
    display: none;
  }
}


@media (prefers-color-scheme: light) {
  :root {
   --background-image: url(../images/cover-image-light.png);
   --main-color: #FF8DCB;
   --title-color: #FFC2E6;
   --link-color: #353430;
   --decoration-color: #353430;
   --background-color:#FFF1F7;
  }
  .header__decoration-dark {
    display: none;
  }
} 
